@use "../custom" as *;
@use "../components/mixins" as *;

#blog {
  background: url("../../images/headerblog.jpg") no-repeat center center/cover;
  height: 40vh;
}

#blogContent ul li {
  list-style: none;
}
